<html>
<head>
  <title>Tasks</title>
</head>
<body>
<h1>Task CRUD example!</h1>
<hr/>
<table>
<thead><tr><th>Task</th><th>Action</th></tr></thead>
<tbody>
  {% for each in task_list %}
  <tr><td>{{each.tasktitle}}</td><td><a href="updateTask?id={{each.taskid}}">Update</a> | <a href="deleteTask?id={{each.taskid}}">Delete</a></td></tr>
  {% endfor %}
<tr>
<td><form action="newtask"><input type="submit" name="addnew" id="addnew" class="addnew" value="Add New"/></form>
</tr>
</tbody>
</table>
<pre>test6</pre>
</body>
</html>
